body {
    background-color: #f8f9fa;
}

h1 {
    margin-bottom: 50px;
}

.list-group-item {
    cursor: pointer;
}

.markdown-content {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
